<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alterar Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-input type="text" fill="outline" label="Título" labelPlacement="floating" helperText="Título" ></ion-input><br>
  <br>
  <ion-input type="text" fill="outline" label="Descrição" labelPlacement="floating" helperText="Descricao" ></ion-input><br>
  <br>
  <ion-input type="text" fill="outline" label="Preço" labelPlacement="floating" helperText="Preço" ></ion-input><br>
  <br>
  <ion-input type="text" fill="outline" label="Imagem" labelPlacement="floating" helperText="Imagem" ></ion-input><br>
  <br>
  <ion-button   color="danger" expand="block">ALTERAR</ion-button>
</ion-content>
