<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CLIENTES
    </ion-title>
    <ion-button slot="end" color="success" routerLink="/homep">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let cliente of listaClientes">
    <ion-label>
      <h1>{{cliente.nome}}</h1>
      <a href="mailto:{{cliente.email}}">{{cliente.email}}</a>
    </ion-label>

    <ion-button color="warning" (click)="alterarCliente(cliente.id!)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>

    <ion-button color="danger" (click)="excluirCliente(cliente.id!)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
   </ion-item>

  <ion-button color="success" expand="block" routerLink="/create-cliente">
    Adicionar Cliente
  </ion-button>



</ion-content>
